<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Fill in the form below to sign up!</p>
    <form method="post" >
      <input name="username" type="text"  placeholder="Username"/>
      <input name="password" type="password" placeholder="Password" />
      <input name="age" type="text" placeholder="Age" />
      <button type="submit">注册</button>
    </form>
  </body>
</html>
